<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<h2>Vendors</h2>

<%= collection_select("post", "keys", @order, "keys", "keys")%>
<hr>

<h2><%=find_field("vendor-menu")%></h2>

<% if @order.present? %>
  <ul>
    <% @order.each do |key, values| %>
    <li><%= key %></li>
      <ul>
      <% values.each do |value| %>
      <li><%= value["title"] %>: <%= value["sku"] %> x <%= value["quantity"] %></li>
      <% end %>
    </ul>
    <% end %>
  </ul>
<% else %>
  <p>Sorry there are no orders</p>
<% end %>
